/* Estilos Generales para los Formularios */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 380px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-group input {

        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Asegura que el padding no afecte al ancho */
    
  }
  
  .input-group input:focus {
    border-color: #2e3b84;
    outline: none;
  }
  
  input.invalid {
    border-color: #e74c3c;
  }
  
  input.valid {
    border-color: #334472;
  }
  
  .error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .eye-button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 35px;
  }
  
  .btn-enter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .btnLR, .btnlr {
    padding: 10px 20px;
    background-color: #275e8e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .btnLR:hover, .btnlr:hover {
    background-color: #134263;
    color: #ffffff;
  }
  
  .terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .terms input {
    margin-right: 10px;
  }
  
  .terms label {
    font-size: 14px;
  }
  
  a {
    
    color: #4c8baf;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 120px;
  }
  
  /* Estilo para la vista en móvil */
  @media (max-width: 480px) {
    .form-container {
      padding: 15px;
    }
  
    .btn, .btnlr {
      font-size: 14px;
    }
  }
  